<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nội dung</th>
        <th>Hạn</th>
        <th>Trạng thái</th>
        <th>Độ ưu tiên</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${todos}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.content}"></td>
        <td th:text="${t.dueDate}"></td>
        <td th:text="${t.status}"></td>
        <td th:text="${t.priority}"></td>
        <td>
            <a th:href="@{/edit/{id}(id=${t.id})}">Sửa</a>
            <a th:href="@{/delete/{id}(id=${t.id})}"
               onclick="return confirm('Bạn có chắc muốn xóa?')">
                Xóa
            </a>
        </td>
    </tr>
    </tbody>
</table>

<hr>
<div th:if="${message}" style="color: green">
    <p th:text="${message}"></p>
</div>

<h2>Thêm công việc</h2>

<form th:action="@{/save}" method="post" th:object="${todo}">

    <input type="hidden" th:field="*{id}"/>

    <div>
        Nội dung:
        <input type="text" th:field="*{content}">
        <div style="color:red" th:errors="*{content}"></div>
    </div>

    <div>
        Ngày hết hạn:
        <input type="date" th:field="*{dueDate}">
        <div style="color:red" th:errors="*{dueDate}"></div>
    </div>

    <div>
        Trạng thái:
        <input type="text" th:field="*{status}">
    </div>

    <div>
        Độ ưu tiên:
        <input type="text" th:field="*{priority}">
    </div>

    <button type="submit">Lưu</button>

</form>

</body>
</html>
